body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.wrap{
    color:white;
    width:60%;
    margin:0 auto;
    background-color: rgb(16, 57, 110);
    height: auto;
    padding: 1.8rem;
    border-radius: 1rem;
}

h1{
    text-align: center;
}

.button-flex{
    display: flex;
    justify-content: space-around;
}

.button-flex > * {
    border-radius: .4rem;
    border:1px solid white;
    padding: .5rem 1rem;
}

.button-flex > p:hover{
    background-color: white;
    color:rgb(16,57,110);
}

